<% provide(:title, 'About - LearnBird') %>
<div class="center hero-unit">
  <h1>About LearnBird</h1>
  <h2>
    A simple self learning tool that makes it a lot of fun to learn new things
  </h2>

</div>
