<% provide(:title, 'LearnBird') %>
<div class="center hero-unit">
  <h1>LearnBird</h1>
  <h2>
    A simple self learning tool that makes it a lot of fun to learn new things
  </h2>
  <%= link_to "Start", new_cards_path, class: "btn btn-large btn-primary" %>

</div>
