<% provide(:title, 'Excitest') %>


<% if not signed_in? %>
    <div class="row">
        <div class="masthead col-xs-12 col-md-8">
          <p>A simple self learning tool that makes learning exciting!</p>
        </div>

        <div class="home-upper-span">
          <div class="col-xs-6 col-md-4">
            <%= render 'users/new' %>
          </div>
        </div>
    </div>

    <hr class="soften"/>

    <% if !@user_cards.nil? and @user_cards.any? %>
    <div class="row">
      <h3 class="welcome__heading">Try out some learning lists</h3>

      <div class="row">
        <% @user_cards.each_with_index do |user_card, index| %>
            <% if index > 3 %>
                <% break %>
            <% end %>
            <div class="col-xs-3">
              <h3 class="try-lists">
                <%= link_to user_card.name, {:controller => :user_cards, :action => :public_card, :id => user_card.id} %>
              </h3>
            </div>
        <% end %>

      </div>
    </div>
   <% end %> 

    </div>

<% end %>



