<% provide(:title, 'Excitest') %>
<div class="center hero-unit">
  <h1>Excitest</h1>
  <h2>
    A simple self learning tool that makes learning and tests exciting!
  </h2>


  <% if not signed_in? %>
      <%= link_to "Sign in", signin_path, class: "btn btn-large btn-primary" %>

      <%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
  <% else %>
      <%= link_to "Create cards", newcard_path, class: "btn btn-large btn-primary" %>
  <% end %>



</div>
