<section class="container">
  <div id="card">
    <figure class="front"><%= card_entry_item.entry_key %></figure>
    <figure class="back"><%= card_entry_item.entry_value %></figure>
  </div>
</section>



