<section class="set-container">

  <div id="flip" class="flip">
    <div class="card  box">
      <div class="face front">
        <div class="table">
            <div class="td">
              <%= card_entry_item.entry_key %>
            </div>
        </div>
      </div>
      <div class="face back">
        <div class="table">
            <div class="td">
              <%= card_entry_item.entry_value %>
            </div>
        </div>
      </div>
    </div>
  </div>

</section>

<%= javascript_tag do %>
    $(document).ready(function(){
    $('.flip').click(function(){
    $(this).find('.card').addClass('flipped').mouseleave(function(){
    $(this).removeClass('flipped');
    });
    return false;
    });
    });
<% end %>



