<% provide(:title, 'Flash cards - Excitest') %>

<h3>
  <%= @user_card.name %>
</h3>
<h4>
  <%= @user_card.description %>
</h4>

<% if @user_card.entries.any? %>
    <%= render partial: 'shared/card_entry_item', collection: @user_card_entries %>
<% end %>



