html {
  height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
}

.container-fluid {
  height: 100%;
}
.home-upper-span {
  margin-top: 20px;
}

.masthead {
  padding: 70px 0px 80px;
  margin-bottom: 0px;
  color: #000000;
}

.masthead p {
  font-size: 40px;
  font-weight: 200;
  line-height: 1.25;
  text-align: center;
  vertical-align: center;
}

hr.soften {
  height: 1px;
  margin: 70px 0px;
  background-image: -moz-linear-gradient(left center , transparent, rgba(0, 0, 0, 0.1), transparent);
  border: 0px none;
}

.sample-lists {
  background: lightblue;
}

.welcome__heading {
  color: #F7504F;
  line-height: 1.5;
  font-size: 36px;
  text-align: center;
  padding: 10px 0px 30px;
}

.try-lists {
  text-align: center;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  margin: 0px auto -180px;
  padding: 0px 0px 180px;
}

.card-row {
  min-height: 100%;
  height: 100%;
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  -webkit-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
}

.flip-container, .front, .back {
  width: 100%;
  height: 100%;
}

/* flip speed goes here */
.flipper {
  transition: 0.9s;
  transform: perspective(1000px);
  -webkit-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

  position: relative;

  width: 100%;
  height: 100%;
}

/* hide back of pane during swap */
.front, .back {
  -webkit-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
  background: papayawhip;

  -webkit-box-shadow: 0 10px 6px 1px #777;
  -moz-box-shadow: 0 10px 6px 1px #777;
  box-shadow: 0 10px 6px 1px #777;

  font-size: 3em;
  font-stretch: normal;
  text-align: center;
  line-height: 1.25;

  z-index: 2;
}

/* back, initially hidden pane */
.back {
  -webkit-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flipper .table {
  display: table;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
}

.flipper .td {
  display: table-cell;
  font-size: inherit;
  vertical-align: middle;
}

.card-container {
  position: relative;
  bottom: 0px;
  width: 50%;
  height: 55%;
  margin-left: 20%;
  left: 0;
  bottom: 0px;
}


.box h3{
  text-align:center;
  position:relative;
  top:80px;
}
.box {
  width:70%;
  height:200px;
  background:#FFF;
  margin:40px auto;
}

.usercards {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.pagination {
  padding-left: 60px;
}

.content {
  display: block;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid lightgray;
    &:last-child {
      border-bottom: 1px solid lightgray;
    }
  }
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}